@use '../sassPartials/variables' as *;

.footer {
  background-color: $color-1;
  font-size: 0.9em;
  color: $white;
  text-align: center;
  padding-block: 5px;
  margin-top: auto;
  a {
    color: inherit;
    text-decoration: underline;
  }
  @media (max-width: $mq-mobile-sm) {
    font-size: 0.65rem;
  }
}
