@use 'variables' as *;

.collection-display .container {
  margin-top: 20px;
  margin-bottom: 20px;
  .collection-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $mq-desktop-sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $mq-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mq-mobile-lg) {
      grid-template-columns: 1fr;
    }
    .collection-card {
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .game-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
