@use 'variables' as *;

.game-details {
  background-color: $color-3;
  .container {
    box-shadow: $box-shadow;
    background-color: $white;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
