@use 'variables' as *;

.stars {
  margin-block: 20px;
  border: 1px solid $black;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow $transition-time;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
  .star-button {
    border: none;
    width: 75px;
    height: 75px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mq-desktop-sm) {
      width: 50px;
      height: 50px;
    }
    @media (max-width: $mq-mobile-lg) {
      width: 40px;
      height: 40px;
    }
    .star-icon {
      width: 100%;
      height: 100%;
    }
  }
}

.collection-display {
  .stars {
    .star-button {
      width: 25px;
      height: 25px;
    }
  }
}
