/* site theme */
$color-1: #464c58;
$color-2: #848d9e;
$color-3: #dce0e9;
$color-4: #2d3238;
$color-5: #1c212a;
$color-6: #101319;
$black: #000;
$white: #fff;

/* site-wide values */
$box-shadow: 3px 1px 10px rgb(0, 0, 0, 0.5);
$box-shadow-hover: 5px 3px 15px rgb(0, 0, 0, 0.8);
$border-radius: 5px;
$transition-time: 0.3s;

/* media query breakpoints */
$mq-desktop-sm: 1024px;
$mq-tablet: 768px;
$mq-mobile-lg: 425px;
$mq-mobile-sm: 375px;
